---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
        title="Our Services"
        description="Digital advertising solutions"
        pubDate={new Date()}
        heroImage="/blog-placeholder-1.jpg"
>
        <p>
                At Clicktastic we blend design, data and ethics to build campaigns that resonate.
        </p>
        <ul>
                <li>Creative strategy</li>
                <li>Digital media buying</li>
                <li>Brand storytelling</li>
                <li>Analytics & optimization</li>
        </ul>
</Layout>
